<div class="recipes-container" [ngClass]="selectedRecipe? 'fixed': ''">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
    <mat-drawer-content>
      <button
        mat-icon-button
        class="search-button"
        *ngIf="!drawerActive"
        (click)="drawer.toggle(); drawerActive = true"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-icon-button
        class="search-button"
        *ngIf="drawerActive"
        (click)="drawer.toggle(); drawerActive = false"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <div class="recipes-grid">
        <app-recipe-card
          *ngFor="let recipe of recipes | async"
          [recipe]="recipe"
          (click)="selectRecipe(recipe)"
        ></app-recipe-card>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<div class="recipe-modal" *ngIf="selectedRecipe">
  <button
    mat-icon-button
    class="close-modal-button"
    (click)="clearSelectedRecipe()"
  >
    <mat-icon>clear</mat-icon>
  </button>
  <app-recipe-detailed [recipe]="fullRecipe | async"></app-recipe-detailed>
</div>
